In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('banknifty_options_2020_2021.csv', low_memory=False)

In [3]:
data.tail()

,Ticker,Date,Time,Open,High,Low,Close,Volume,Open_Interest
21166942,BANKNIFTY-III.NFO,2021-05-27,15:26:59.0000000,35490.0,35494.95,35485.0,35491.15,325,52925
21166943,BANKNIFTY-III.NFO,2021-05-27,15:27:59.0000000,35491.15,35517.0,35491.15,35500.75,1300,52925
21166944,BANKNIFTY-III.NFO,2021-05-27,15:28:59.0000000,35500.75,35515.75,35480.05,35480.05,825,53575
21166945,BANKNIFTY-III.NFO,2021-05-27,15:29:59.0000000,35480.05,35489.2,35470.1,35470.95,850,53575
21166946,BANKNIFTY-III.NFO,2021-05-27,15:30:59.0000000,35489.2,35489.2,35489.2,35489.2,25,53575

In [4]:
data.columns

Index(['Ticker', 'Date', 'Time', 'Open', 'High', 'Low', 'Close', 'Volume',
       'Open_Interest'],
      dtype='object')

In [15]:
data[data['Date'].str.contains('51')]

,Ticker,Date,Time,Open,High,Low,Close,Volume,Open_Interest
9602989,BANKNIFTY26NOV2029000CE.NFO,2020-51-11,10:50:59,818.3,819.6,800.0,819.6,5575,177525

In [5]:
data['Date'][9602867] = '2020-11-10'

In [6]:
data['Date'][9602989] = data['Date'][9602988]

In [7]:
data['Date'] = pd.to_datetime(data['Date'])

In [8]:
data.dtypes

Ticker                   object
Date             datetime64[ns]
Time                     object
Open                     object
High                     object
Low                      object
Close                    object
Volume                   object
Open_Interest            object
dtype: object

In [9]:
june1_data = data[(data['Date']=='2020-06-01')]

In [10]:
june1_data.shape

(52170, 9)

In [11]:
june1_data.to_csv('june1_data_combined.csv')

In [2]:
june1_data = pd.read_csv('june1_data_combined.csv')

In [12]:
indices = june1_data['Ticker'].unique()

In [13]:
indices = indices.tolist()

In [14]:
for i in range(len(indices)):
    indices[i] = indices[i].removesuffix('.NFO')

In [15]:
for i in range(len(indices)):
    indices[i] = indices[i][9:]

In [16]:
indices = indices[:-3]

In [17]:
print(indices)

['04JUN2014200CE', '04JUN2014200PE', '04JUN2014300PE', '04JUN2014500PE', '04JUN2015000PE', '04JUN2015300PE', '04JUN2015500CE', '04JUN2015500PE', '04JUN2015600PE', '04JUN2015700PE', '04JUN2015800PE', '04JUN2015900PE', '04JUN2016000CE', '04JUN2016000PE', '04JUN2016100PE', '04JUN2016200PE', '04JUN2016300PE', '04JUN2016400PE', '04JUN2016500CE', '04JUN2016500PE', '04JUN2016600CE', '04JUN2016600PE', '04JUN2016700PE', '04JUN2016800PE', '04JUN2016900PE', '04JUN2017000CE', '04JUN2017000PE', '04JUN2017100PE', '04JUN2017200CE', '04JUN2017200PE', '04JUN2017300CE', '04JUN2017300PE', '04JUN2017400CE', '04JUN2017400PE', '04JUN2017500CE', '04JUN2017500PE', '04JUN2017600CE', '04JUN2017600PE', '04JUN2017700CE', '04JUN2017700PE', '04JUN2017800CE', '04JUN2017800PE', '04JUN2017900CE', '04JUN2017900PE', '04JUN2018000CE', '04JUN2018000PE', '04JUN2018100CE', '04JUN2018100PE', '04JUN2018200CE', '04JUN2018200PE', '04JUN2018300CE', '04JUN2018300PE', '04JUN2018400CE', '04JUN2018400PE', '04JUN2018500CE', '04JUN2018500PE', '04JUN2018600CE', '04JUN2018600PE', '04JUN2018700CE', '04JUN2018700PE', '04JUN2018800CE', '04JUN2018800PE', '04JUN2018900CE', '04JUN2018900PE', '04JUN2019000CE', '04JUN2019000PE', '04JUN2019100CE', '04JUN2019100PE', '04JUN2019200CE', '04JUN2019200PE', '04JUN2019300CE', '04JUN2019300PE', '04JUN2019400CE', '04JUN2019400PE', '04JUN2019500CE', '04JUN2019500PE', '04JUN2019600CE', '04JUN2019600PE', '04JUN2019700CE', '04JUN2019700PE', '04JUN2019800CE', '04JUN2019800PE', '04JUN2019900CE', '04JUN2019900PE', '04JUN2020000CE', '04JUN2020000PE', '04JUN2020100CE', '04JUN2020100PE', '04JUN2020200CE', '04JUN2020200PE', '04JUN2020300CE', '04JUN2020300PE', '04JUN2020400CE', '04JUN2020400PE', '04JUN2020500CE', '04JUN2020500PE', '04JUN2020600CE', '04JUN2020600PE', '04JUN2020700CE', '04JUN2020700PE', '04JUN2020800CE', '04JUN2020800PE', '04JUN2020900CE', '04JUN2020900PE', '04JUN2021000CE', '04JUN2021000PE', '04JUN2021100CE', '04JUN2021100PE', '04JUN2021200CE', '04JUN2021200PE', '04JUN2021300CE', '04JUN2021300PE', '04JUN2021400CE', '04JUN2021400PE', '04JUN2021500CE', '04JUN2021500PE', '04JUN2021600CE', '04JUN2021600PE', '04JUN2021700CE', '04JUN2021800CE', '04JUN2021900CE', '04JUN2022000CE', '04JUN2022000PE', '04JUN2022100CE', '04JUN2022200CE', '04JUN2022300CE', '04JUN2022400CE', '04JUN2022500CE', '04JUN2022600CE', '04JUN2022700CE', '04JUN2022800CE', '04JUN2022900CE', '04JUN2023000CE', '04JUN2023100CE', '04JUN2023200CE', '04JUN2023300CE', '04JUN2023400CE', '04JUN2023500CE', '04JUN2023600CE', '04JUN2023700CE', '04JUN2023800CE', '04JUN2023900CE', '04JUN2024000CE', '04JUN2024100CE', '04JUN2024200CE', '04JUN2024300CE', '04JUN2024500CE', '11JUN2015000PE', '11JUN2015500PE', '11JUN2016000PE', '11JUN2016500PE', '11JUN2017000PE', '11JUN2017500PE', '11JUN2017700PE', '11JUN2017800PE', '11JUN2017900PE', '11JUN2018000CE', '11JUN2018000PE', '11JUN2018100PE', '11JUN2018200CE', '11JUN2018200PE', '11JUN2018500CE', '11JUN2018500PE', '11JUN2018600PE', '11JUN2019000CE', '11JUN2019000PE', '11JUN2019100CE', '11JUN2019200PE', '11JUN2019300CE', '11JUN2019400PE', '11JUN2019500CE', '11JUN2019500PE', '11JUN2019600CE', '11JUN2019800CE', '11JUN2019800PE', '11JUN2020000CE', '11JUN2020000PE', '11JUN2020100CE', '11JUN2020100PE', '11JUN2020200CE', '11JUN2020500CE', '11JUN2020500PE', '11JUN2021000CE', '11JUN2021000PE', '11JUN2021500CE', '11JUN2022000CE', '11JUN2023000CE', '11JUN2023500CE', '11JUN2024000CE', '25JUN2014200PE', '25JUN2014500PE', '25JUN2015000CE', '25JUN2015000PE', '25JUN2015200PE', '25JUN2015500PE', '25JUN2016000CE', '25JUN2016000PE', '25JUN2016500CE', '25JUN2016500PE', '25JUN2016600PE', '25JUN2016800PE', '25JUN2016900PE', '25JUN2017000CE', '25JUN2017000PE', '25JUN2017100PE', '25JUN2017200CE', '25JUN2017200PE', '25JUN2017300CE', '25JUN2017300PE', '25JUN2017400PE', '25JUN2017500CE', '25JUN2017500PE', '25JUN2017600CE', '25JUN2017600PE', '25JUN2017700CE', '25JUN2017700PE', '25JUN2017800CE', '25JUN2017800PE', '25JUN2017900CE', '25JUN2017900PE', '25JUN2018000CE', '25JUN2018000PE', '25JUN2018100CE', '25JUN2018100PE', '25JUN2018200CE', '25JUN2018200PE', '25JUN2018300CE', '25JUN2018300PE', '25JUN2018400CE', '25JUN2018400PE', '25JUN2018500CE', '25JUN2018500PE', '25JUN2018600CE', '25JUN2018600PE', '25JUN2018700CE', '25JUN2018700PE', '25JUN2018800CE', '25JUN2018800PE', '25JUN2018900CE', '25JUN2018900PE', '25JUN2019000CE', '25JUN2019000PE', '25JUN2019100CE', '25JUN2019100PE', '25JUN2019200CE', '25JUN2019200PE', '25JUN2019300CE', '25JUN2019300PE', '25JUN2019400CE', '25JUN2019400PE', '25JUN2019500CE', '25JUN2019500PE', '25JUN2019600CE', '25JUN2019600PE', '25JUN2019700CE', '25JUN2019700PE', '25JUN2019800CE', '25JUN2019800PE', '25JUN2019900CE', '25JUN2019900PE', '25JUN2020000CE', '25JUN2020000PE', '25JUN2020100CE', '25JUN2020100PE', '25JUN2020200CE', '25JUN2020200PE', '25JUN2020300CE', '25JUN2020300PE', '25JUN2020400CE', '25JUN2020400PE', '25JUN2020500CE', '25JUN2020500PE', '25JUN2020600CE', '25JUN2020700CE', '25JUN2020800CE', '25JUN2021000CE', '25JUN2021000PE', '25JUN2021400CE', '25JUN2021500CE', '25JUN2021500PE', '25JUN2021800CE', '25JUN2022000CE', '25JUN2022000PE', '25JUN2022500CE', '25JUN2022500PE', '25JUN2023000CE', '25JUN2023000PE', '25JUN2023500CE', '25JUN2024000CE', '25JUN2024000PE', '25JUN2024500CE', '25JUN2024500PE', '30JUL2015000PE', '30JUL2016000PE', '30JUL2017000PE', '30JUL2018000CE', '30JUL2018000PE', '30JUL2019000CE', '30JUL2019000PE', '30JUL2020000CE', '30JUL2020000PE', '30JUL2021000CE', '30JUL2021500CE', '30JUL2022000CE', '30JUL2023000CE', '30JUL2024000CE']

In [18]:
dates = set(index[7:] for index in indices)

In [19]:
dates = list(dates)
dates.sort()
print(dates)

['14200CE', '14200PE', '14300PE', '14500PE', '15000CE', '15000PE', '15200PE', '15300PE', '15500CE', '15500PE', '15600PE', '15700PE', '15800PE', '15900PE', '16000CE', '16000PE', '16100PE', '16200PE', '16300PE', '16400PE', '16500CE', '16500PE', '16600CE', '16600PE', '16700PE', '16800PE', '16900PE', '17000CE', '17000PE', '17100PE', '17200CE', '17200PE', '17300CE', '17300PE', '17400CE', '17400PE', '17500CE', '17500PE', '17600CE', '17600PE', '17700CE', '17700PE', '17800CE', '17800PE', '17900CE', '17900PE', '18000CE', '18000PE', '18100CE', '18100PE', '18200CE', '18200PE', '18300CE', '18300PE', '18400CE', '18400PE', '18500CE', '18500PE', '18600CE', '18600PE', '18700CE', '18700PE', '18800CE', '18800PE', '18900CE', '18900PE', '19000CE', '19000PE', '19100CE', '19100PE', '19200CE', '19200PE', '19300CE', '19300PE', '19400CE', '19400PE', '19500CE', '19500PE', '19600CE', '19600PE', '19700CE', '19700PE', '19800CE', '19800PE', '19900CE', '19900PE', '20000CE', '20000PE', '20100CE', '20100PE', '20200CE', '20200PE', '20300CE', '20300PE', '20400CE', '20400PE', '20500CE', '20500PE', '20600CE', '20600PE', '20700CE', '20700PE', '20800CE', '20800PE', '20900CE', '20900PE', '21000CE', '21000PE', '21100CE', '21100PE', '21200CE', '21200PE', '21300CE', '21300PE', '21400CE', '21400PE', '21500CE', '21500PE', '21600CE', '21600PE', '21700CE', '21800CE', '21900CE', '22000CE', '22000PE', '22100CE', '22200CE', '22300CE', '22400CE', '22500CE', '22500PE', '22600CE', '22700CE', '22800CE', '22900CE', '23000CE', '23000PE', '23100CE', '23200CE', '23300CE', '23400CE', '23500CE', '23600CE', '23700CE', '23800CE', '23900CE', '24000CE', '24000PE', '24100CE', '24200CE', '24300CE', '24500CE', '24500PE']

In [20]:
for string in dates:
    june1_data[june1_data['Ticker'].str.contains(string)].to_csv('june1_data_'+string+'.csv')

In [21]:
for string in ['-I', '-II', '-III']:
    june1_data[june1_data['Ticker'].str.contains(string)].to_csv('june1_data_'+string[1:]+'.csv')